<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Cassandra | GitHub</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
        <link type="text/css" rel="stylesheet" href="public/css/style.css">
    </head>
    <body>

        <div class="navbar">
            <div class="title" onclick="window.location.href='home'">NHL Stats</div>
            <div class="items">
                <div class="item" onclick="window.location.href='home'">Home</div>
                <div class="item" onclick="window.location.href='demo'">Demo</div>
                <div class="item" onclick="window.location.href='doku'">Doku</div>
                <div class="item" onclick="window.location.href='github'" active>GitHub</div>
            </div>
        </div>

        <iframe src="https://github.com/TimoScheuermann/Advanced-DB" frameborder="0"></iframe>

    </body>
</html>