@import url("../fonts/fontfaces.css");


@media only screen and (max-width: 778px) {
    .pdf:before {
        content: "PDF" !important;
    }
    .pdf {
        margin-top: -20px;
        right: 30px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #444;
    height: 100vh;
    min-height: 100vh;
}

a {
    color: #08f;
    text-decoration: none;
    transition: .2s ease;
    &:hover {
        box-shadow: inset 0px -1px #08f;
    }
}

.navbar {

    z-index: 1000;
    top: 0;
    position: sticky;
    display: block;
    background: rgba(0, 0, 0, .75);
    color: white;
    width: 1fr;
    padding: 0px 10px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(7px);

    * {
        display: inline-block;
        line-height: 40px;
    }

    .title {
        float: left;
        font-weight: 600;
        width: 100px;
    }
}

.landing {
    text-align: center;
    margin: 100px 0px;

    h1, h2 {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-weight: 700;
    }
    h2 {
        font-weight: 650;
        color: #555;

        &:before, &:after {
            content: '\23AF';
            padding: 0 10px;
        }
    }
}

.paragraph {
    background: #fff;
    padding: 10px 50px;
    margin: 20px;
    border-radius: 5px;

    h1 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}

.function {

    margin: 0px 20px 40px 20px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 4px 10px rgba(0,0,0,.1);
    max-width: 100%;
    display: inline-block;

    .description {
        font-weight: 700;
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding: 0px 5px;
    }
    .example {
        display: block;
        text-align: left;
        padding: 0px 5px;

        .code {
            font-style: italic;
            font-weight: 500;
            line-height: 30px;
            height: 30px;
            b {
                color: #666;
            }
        }
        .exmpl {
            a:before {
                content: attr(href);
            }
            &:before {
                content: "Sample | ";
                color: #888;
            }
        }

    }
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
    transition: .2s ease;
}

::-webkit-scrollbar:hover {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
    transition: .2s ease;
    &:hover {
        background: #888;
        transition: .2s ease;
        cursor: grabbing;
    }
}